.homepage-bg {
    background-image: url('../images/img1.png');
    background-size: cover;
    background-position: center;
}

.form-container {
    margin-top: 40px; 
    width: 100%;
    max-width: 400px;
}
.social-icon {
    color: #f5f5dc; /* Beige color */
    font-size: 1.7rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #fff3cd; /* Lighter beige on hover */
    cursor: pointer;
    transform: scale(1.2);
    color: #fff3cd;
}
.btn-primary:hover {
    background-color: #e6cfa8;
    color: #5a0000;
    border: none;
}
.signup-bg {
    background-image: url('../images/img2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
